node_modules
dist
.vite
.DS_Store

public/images/**
!public/images/
!public/images/Dp.png
!public/images/MyLogoDark.png
!public/images/formal.png
!public/images/Experience/
!public/images/Experience/sde_intern_philips.png
!public/images/Experience/sparks.jfif
!public/images/Projects/
!public/images/Projects/AMS.png
!public/images/Projects/Course.png
!public/images/Projects/Crop.png
!public/images/Projects/Diamond.png
!public/images/Projects/DrCnn.jpg
!public/images/Projects/Human.png
!public/images/Projects/IVA.png
!public/images/Projects/Movie.png
!public/images/Projects/Novel.png
!public/images/Projects/headlines.png
!public/images/Projects/shopping.png
!public/images/Publication/
!public/images/Publication/edp.png
!public/images/Publication/ieee.png
!public/images/Publication/routledge.png
